<app-search-bar (searchRequest)="searchTodos($event)"></app-search-bar>
<div class = "row">
  <a routerLink="['/newTodo']"><button>New Todo</button></a>
</div>

<br>

<div class = "row">
  <button class="col-xl-3 col-lg-3 col-md-3 col-sm-3" (click)="setTodoType('allTodos')">All todos</button>
  <button class="col-xl-3 col-lg-3 col-md-3 col-sm-3" (click)="setTodoType('openTodos')">Open todos</button>
  <button class="col-xl-3 col-lg-3 col-md-3 col-sm-3" (click)="setTodoType('inProgressTodos')">In progress todos</button>
  <button class="col-xl-3 col-lg-3 col-md-3 col-sm-3" (click)="setTodoType('doneTodos')">Done todos</button>
</div>

<br>

<div class="row">
  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2"></div>
  <ul class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
    <li class = "list-group-item" *ngFor="let todo of todosToShow">
      <a routerLink="/todos/{{todo.todoId}}">
        <s *ngIf="todo.state == 'DONE'">{{todo.title}}</s>
        <div *ngIf="todo.state === 'OPEN'">{{todo.title}}</div>
        <b *ngIf="todo.state === 'IN_PROGRESS'">{{todo.title}}</b>
      </a>
    </li>
  </ul>
</div>
