<div class="container">
  <h2>Todo</h2>
  <form [formGroup]="todoForm">
    <table class="table">
      <thead>
      <tr>
        <th>Todo ID:</th>
        <th>Title</th>
        <th>Description</th>
        <th>State</th>
      </tr>
      </thead>
      <tbody *ngIf="!isEditing">
      <tr>
        <td>{{todo.todoId}}</td>
        <td>{{todo.title}}</td>
        <td>{{todo.description}}</td>
        <td>{{todo.state}}</td>
        <td><button (click)="editTodo()">Edit <i class="fa fa-edit"></i></button></td>
      </tr>
      </tbody>
      <!-- todo: Sinnvoll einen zweiten tbody einzubauen, oder lieber eigene Komponente bzw. 2 unterschiedliche div Blocks mit eigenen Tabellen??-->
      <tbody *ngIf="isEditing">
          <tr>
            <td>{{todo.todoId}}</td>
            <td><input type = "text" formControlName="title"></td>
            <td><input type = "text" formControlName="description"></td>
            <td>
              <input type="radio" formControlName="state" value="OPEN">Open<br>
              <input type="radio" formControlName="state" value="IN_PROGRESS">In Progress<br>
              <input type="radio" formControlName="state" value="DONE">Done
            </td>
            <td>
              <button class = "button" type="submit" (click)="saveTodo(todoForm.value)">Save</button>
              <button class = "button" type ="submit" (click)="deleteTodo()">Delete</button>
            </td>
          </tr>
      </tbody>
    </table>
  </form>
</div>
